

jwt:
  secret: sua-chave-secreta-muito-longa-com-mais-de-48-caracteres-para-hs384-aqui-abcdefghijklmnopqrstuvwxyz0123456789abcdefghijklmnopqrstuvwxyz0123456789
  expiration: 86400

spring:
  config:
    activate:
      on-profile: dev

  cors:
    allowed-origins:
      http://localhost:*

  datasource:
    url: jdbc:postgresql://localhost:5432/cursodb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080
